<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdr.ufscar.dev.srdc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.SRDCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/empty" />
        <activity
            android:name=".activity.CadastroCidadaoActivity"
            android:label="@string/activity_cadastro_cidadao_title"
            android:noHistory="true" />
        <activity
            android:name=".activity.MainActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CadastroDadosClinicosActivity"
            android:label="@string/activity_cadastro_dados_clinicos_title" />
        <activity
            android:name=".activity.InicioActivity"
            android:label="@string/empty" />
        <activity android:name=".activity.CadastroRegistroColetaActivity"
            android:label="@string/activity_cadastro_registro_coleta_title"/>
        <activity
            android:name=".activity.CadastroRegistroAtividadeFisicaActivity"
            android:label="@string/activity_cadastro_registro_atividade_fisica_title" />
        <activity
            android:name=".activity.GraficoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".activity.EscolherVisualizacaoActivity"
            android:label="@string/activity_escolher_visualizacao_title"/>
        <activity android:name=".activity.ListaRegistros"
            android:label="@string/activity_lista_registros_title"
            android:noHistory="true"/>
        <activity
            android:name=".activity.AjudaCadastroRegistroAtividadeFisicaActivity"
            android:label="@string/activity_ajuda_cadastro_registro_atividade_fisica_title"
            android:noHistory="true"/>
        <activity
            android:name=".activity.AjudaInicioActivity"
            android:label="@string/activity_ajuda_inicio_title"
            android:noHistory="true"/>
        <activity android:name=".activity.AjudaCadastroRegistroColetaActivity"
            android:label="@string/activity_ajuda_cadastro_registro_coleta_title"
            android:noHistory="true"/>
    </application>

</manifest>